RewriteEngine on

#non-www to www
RewriteCond %{HTTP_HOST} ^adnasor\.ir
RewriteRule (.*) http://www.adnasor.ir/$1 [R=301,L]

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule . index.php
