.item-list {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
}
.item-drift{
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    position: relative;
}
.item-shop{
    padding: 0 0.4em;
    position: absolute;
}
.item-drift:hover{
    color: #21BA45;
    top: 22px;
    padding-top: -22px;
}
.item-list .item-poster{
    padding: 5px;
    background: #fff;
    overflow: hidden;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.item-list .item-poster img {
    background: #000;
    display: block;
    width: 100%;
    height: auto;
}
.item-list  .item-poster .img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}
.item-caption {
    height: 60px;
    padding: 5px;
    line-height: 2em;
    overflow: hidden;
}
.item-title{
    font-size: 1.18em;
}
.item-logo img{
    width: 20px;
    height: 20px;
}
.item-review{
    border-top: 1px solid #eee;
    background: #fff;
    padding: 0.65em 0.5em 0.4em 0.4em;
    width: 100%;
    -webkit-border-bottom-right-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-bottomright: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}
.item-price{
    float: right;
    color: #21BA45;
    padding: 0;
}